## Formative Assessment 6

 1. Table 1 shows a frequency distribution of grades on a final examination in 
colleg  algebra. Find the quartiles of the distribution

In [57]:
import pandas as pd

data = {
    'Grade range': ['90-100', '80-89', '70-79', '60-69', '50-59', '40-49', '30-39'],
    'No. of students': [9, 32, 43, 21, 11, 3, 1]
}

df = pd.DataFrame(data)
df['Cumulative Frequency'] = df['No. of students'].cumsum()
n = df['No. of students'].sum()

grades = []

for i, row in df.iterrows():
    lower, upper = map(int, row['Grade range'].split('-'))
    if row['No. of students'] > 1:
        grades.extend([lower + (upper - lower) * j / (row['No. of students'] - 1) for j in range(row['No. of students'])])
    else:
        grades.extend([lower]) 
                  
grades_series = pd.Series(grades)

q1_value = grades_series.quantile(0.25)
q2_value = grades_series.quantile(0.5)
q3_value = grades_series.quantile(0.75)

print(f"Q1 value is: {q1_value:.2f}")
print(f"Q2 value is: {q2_value:.2f}")
print(f"Q3 value is: {q3_value:.2f}")

Q1 value is: 66.64
Q2 value is: 75.04
Q3 value is: 82.98

2. On a final examination in statistics, the mean grade of a group of 150
students was 78 and the standard deviation was 8.0. In algebra, however, the mean final
grade of the group was 73 and the standard deviation was 7.6. In which subject was
there the greater (a) absolute dispersion and (b) relative dispersion?

In [25]:
import pandas as pd
sub = ['statistics', 'algebra']
means = [78, 73]
standard_dev = [8.0, 7.6]
absolute_dispersion = standard_dev

relative_dispersion = [(std_dev / mean)*100 for std_dev, mean in zip(standard_dev, means)]

data = {
    'Subjects': sub,
    'Means': means, 
    'Standard Deviation': standard_dev,
    'Absolute Dispersion': absolute_dispersion,
    'Relative Dispersion (%)': relative_dispersion
}

df = pd.DataFrame(data)

df

,Subjects,Means,Standard Deviation,Absolute Dispersion,Relative Dispersion (%)
0,statistics,78,8.0,8.0,10.256410
1,algebra,73,7.6,7.6,10.410959

From the given data, the absolute dispersion in statistics is larger than algebra. Algebra, however, is greater in terms of the relative dispersion.

4. Three masses are measured as 20.48, 35.97, and 62.34 g, with standard
deviations of 0.21, 0.46, and 0.54 g, respectively. Find the (a) mean and (b) standard
deviation of the sum of the masses.

In [33]:
import numpy as np


scores = np.array([6,2, 8, 7, 5])
mean = np.mean(scores)
std_dev = np.std(scores, ddof=0)
z_scores = (scores - mean) / std_dev
mean_z_scores = np.mean(z_scores)
std_z_scores = np.std(z_scores, ddof = 0)
            

print(f"Raw Scores: {scores}")
print(f"Mean of Raw Scores: {mean}")
print(f"Standard Deviation of Raw Scores: {std_dev}")
print(f"Z-Scores: {z_scores}")
print(f"Mean of Z-Scores: {mean_z_scores:.6f}")
print(f"Standard Deviation of Z-Scores: {std_z_scores:.6f}")

Raw Scores: [6 2 8 7 5]
Mean of Raw Scores: 5.6
Standard Deviation of Raw Scores: 2.0591260281974
Z-Scores: [ 0.19425717 -1.74831455  1.16554303  0.6799001  -0.29138576]
Mean of Z-Scores: 0.000000
Standard Deviation of Z-Scores: 1.000000

In [45]:
import numpy as np
import pandas as pd

masses = np.array([20.48, 35.97, 62.34])
std_masses = np.array([0.21, 0.46, 0.54])

mean_sum = np.sum(masses) / 3
variance_sum = np.sum(std_masses**2)
std_sum = np.sqrt(variance_sum)

data = {
    'Mean of the Masses': [mean_sum],
    'Variance of the Sum': [variance_sum], 
    'Standard Deviation of sum of the masses': [std_sum],
}


df = pd.DataFrame(data)

df

,Mean of the Masses,Varaince of the Sum,Standard Deviation of sum of the masses
0,39.596667,0.5473,0.739797

5.Find ùúá and ùúé^2 . Give the 25 (with replacement) possible samples of size 2, their means,
and their probabilities.

In [53]:
import itertools
import pandas as pd
import numpy as np
from IPython.display import display


x_values = [6, 9, 12, 15, 18]
p_x = [0.1, 0.2, 0.4, 0.2, 0.1]

samples = list(itertools.product(x_values, repeat=2))

overall_mean = np.sum(x_values)/5
variance = np.sum(np.array(p_x) * (np.array(x_values) - overall_mean)**2)
means = [(x + y) / 2 for x, y in samples]

sample_p_x = [p_x[x_values.index(x)] * p_x[x_values.index(y)] for x, y in samples]

df = pd.DataFrame({
    'Sample': samples,
    'P_X': sample_p_x,
    'Means': means
})

print(f"Means (Œº): {overall_mean:.2f}")
print(f"Variance (œÉ¬≤): {variance:.2f}")
display(df)

Means (Œº): 12.00
Variance (œÉ¬≤): 10.80

      Sample   P_X  Means
0     (6, 6)  0.01    6.0
1     (6, 9)  0.02    7.5
2    (6, 12)  0.04    9.0
3    (6, 15)  0.02   10.5
4    (6, 18)  0.01   12.0
5     (9, 6)  0.02    7.5
6     (9, 9)  0.04    9.0
7    (9, 12)  0.08   10.5
8    (9, 15)  0.04   12.0
9    (9, 18)  0.02   13.5
10   (12, 6)  0.04    9.0
11   (12, 9)  0.08   10.5
12  (12, 12)  0.16   12.0
13  (12, 15)  0.08   13.5
14  (12, 18)  0.04   15.0
15   (15, 6)  0.02   10.5
16   (15, 9)  0.04   12.0
17  (15, 12)  0.08   13.5
18  (15, 15)  0.04   15.0
19  (15, 18)  0.02   16.5
20   (18, 6)  0.01   12.0
21   (18, 9)  0.02   13.5
22  (18, 12)  0.04   15.0
23  (18, 15)  0.02   16.5
24  (18, 18)  0.01   18.0